.user_info_main{
    width:10.15rem;
    border:0.01rem solid #E8E8E8;
    border-radius: 0.08rem;
    overflow: hidden;
    background:#FFFFFF;
}
.user_info_box_title{
    height:0.63rem;
    line-height: 0.63rem;
    padding-left:0.41rem;
    font-size:0.2rem;
    color:#000000;
    border-bottom:0.01rem solid #E8E8E8;
}
.user_info_box_set_info_box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:6.41rem;
    padding:0.51rem 0 0 0.41rem;
}
.user_info_box_set_info_box_left{
    width:4.64rem;
}
.user_info_box_set_info_box_left_item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size:0.14rem;
    margin-bottom:0.22rem;
}
.user_info_set_info_box_left_item_title{
    width:0.85rem;
    display:flex;
}
.user_info_set_info_box_address{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    background:#F8F8F8;
    width:3.76rem;
    height:0.34rem;
    border:0 solid #F8F8F8;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:0.1rem;
    border-radius:0.02rem;
}
.user_info_set_info_box_left_item_birthday{
    display:flex;
    align-items: center;
}
.user_info_set_info_box_left_item_birthday_year_box{
    width:0.75rem;
    height:0.34rem;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    background:#F8F8F8;
    border:0 solid #F8F8F8;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:0.1rem;
}
.user_info_set_info_box_left_item_birthday_month_box,.user_info_set_info_box_left_item_birthday_day_box{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    background:#F8F8F8;
    width:0.6rem;
    height:0.34rem;
    border:0 solid #F8F8F8;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:0.1rem;

}
.user_info_set_info_box_left_item_grade_box{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    background:#F8F8F8;
    width:1.32rem;
    height:0.34rem;
    border:0 solid #F8F8F8;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:0.1rem;
    border-radius:0.02rem;
}
.user_info_set_info_box_left_item_name_box{
    width:3.74rem;
    height:0.32rem;
    border:0.01rem solid #F8F8F8;
    border-radius: 0.04rem;
    overflow: hidden;
    background:#F8F8F8;
}
.user_info_set_info_box_left_item_name{
    width:100%;
    height:100%;
    padding-left:0.12rem;
    background:#F8F8F8;

}
.update_header{
    width:1.01rem;
}
.update_header_box{
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
    height:1rem;
    width: 1rem;
}
.update_header_box_img{
    width:100%;
}
.confirm_fixed_user_info{
    width:1.2rem;
    height:0.4rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    background:#FFC900;
    margin-top:0.2rem;
}