.forget_wrap{
    position:fixed;
    background:#FFFCF6;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.find_password_box{
    position:relative;
    margin:0.8rem auto;
    width:5rem;
    height:6rem;
    box-shadow:0 0.09rem 0.38rem 0 rgba(0, 0, 0, 0.07);
    background:#FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.find_password_link{
    display:flex;
    flex-direction: row;
    align-self: flex-end;
    padding:0.23rem 0.27rem 0 0;
    color:#00A0E5;
    font-size:0.12rem;
}
.find_password_title{
    margin-top:0.6rem;
    color:#808080;
    font-size:0.2rem;
}
.find_password_list{
    display:flex;
    flex-direction: column;
    margin-top:0.57rem;
}
.find_password_item{
    width:3.48rem;
    height:0.4rem;
    border-radius: 0.2rem;
    margin-bottom:0.21rem;
    overflow: hidden;
    position:relative;
}
.find_password_phone_num,.find_password_password{
    background: #F5F5F5 url("../../img/login_header_icon.png") no-repeat 0.1rem center;
    height: 100%;
    width: 3rem;
    padding-left: 0.5rem;
}
.find_password_v_code{
    background: #F5F5F5 url("../../img/login_psd_icon.png") no-repeat 0.1rem center;
    height: 100%;
    width: 3rem;
    padding-left: 0.5rem;
}
.v_code_time{
    position:absolute;
    border-radius: 0.2rem;
    width:1.29rem;
    height:0.4rem;
    background:#FFC200;
    right:-0.01rem;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    font-size:0.14rem;
}
