.common_header{
    position:relative;
    width:100%;
    height:0.7rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:#FFF;
    box-shadow:0 0.03rem 0.1rem 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.common_header_center{
    width:11.8rem;
    position:relative;
}
.common_header_center_box{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width:11.8rem;
    margin:0 auto;
    font-size:0.14rem;
}
.common_header_logo_title{
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.common_header_logo{
    width:1.43rem;
    height:100%;
    background:#F5F5F5 url("../../img/sscoding_logo.png") no-repeat center;
    background-size: 0.94rem 0.47rem;
}
.common_header_title{
    font-size:0.2rem;
    font-weight: 600;
    padding-left:0.26rem;
}
.common_header_right{
    display:flex;
    align-items: center;
}
.common_header_center_link_item{
    margin-left:0.5rem;
    cursor: pointer;
}
.common_header_login_info{
    display:flex;
    flex-direction: row;
    margin-left:0.7rem;
    justify-content: space-around;
    align-items: center;
}
.common_header_login_header_box{
    width:0.5rem;
    height:0.5rem;
    border-radius: 0.25rem;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.common_header_login_header_pic{
    width: 0.5rem;
}
.common_header_login_user_name{
    font-size:0.14rem;
    color: #FFC200;
    margin:0 0.12rem;
}
.down_arrow{
    width: 0;
    height: 0;
    border-left: 0.07rem solid transparent;
    border-right: 0.07rem solid transparent;
    border-top: 0.1rem solid #FFC200;
}
.login_info_toggle_list{
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    top:0.5rem;
    right:0;
    width:0.96rem;
    height:0.95rem;
    background:url("../../img/user_info_toggle_list_box.png") no-repeat top center;
    background-size: 0.96rem 0.95rem;
    z-index: 1;
}
.login_info_toggle_list_item{
    width:0.74rem;
    border-bottom:0.01rem solid #E8E8E8;
    height:0.46rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:0.01rem;
    font-size:0.14rem;
}